<%= $player_1.player_name + " vs. " + $player_2.player_name %>
</br>
<%= $player_2.player_name + ": " + $player_2.hit_points.to_s + "HP" %>
</br>
<form action = '/attack' method = 'get'>
<input type = 'submit' value = 'Attack'>
</form>
